/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: rgb(233, 233, 233);
}

body {
    margin: 0 auto; /* centers the body */
    max-width: 980px;
    background: rgb(255, 255, 255);
    padding: 12px 0; /* top/bottom: 12px left/right: 0 */
}

.wrap {
    padding: 0 0.813em; /* top/bottom: 0 left/right: 0.813em */
}
a {
    font-size: 125%;
    text-decoration: none;
    color: rgb(100,100,255);
}

ul {
    list-style: none;
    padding: 0;
}

.msg {
    background: rgb(113,223,113);
    color: rgb(38,88,38);
    padding: 0.813em 0;
}

.msg li {
    padding: 0 0.813em;
    margin-bottom: 0.500em;
}

.msg li:last-child {
    margin: 0;
}

.err {
    background: rgb(255, 77, 77);
    color: #fff;
}

.task-header {
    background: url(../images/todo.jpg) no-repeat top left;
    background-size: 100px 100px;
    padding: 8px 0;
}

.task-header h1 {
    padding: 0 34px;
}

.task-create form input[type="text"] {
    font-size: 150%;
}

.task-create form label,
.task-create form p {
    display: none;
}

.records_list {
    width: 100%;
}

.records_list tr {
    border-bottom: 1px solid #ccc;
}

.records_list tr:last-child {
    border: none;
}

.records_list td {
    padding: 0.813em;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

    .wrap {
        padding: 0 2em; /* top/bottom: 0 left/right: 2em */
    }
    a {
        font-size: 100%;
        /*text-decoration: none;*/
        /*color: rgb(100,100,255);*/
    }

    .task-create form div,
    .task-create form p {
        display: block;
        float: left;
        margin: 0;
    }
    .task-create form p button {
        margin-left: 0.500em;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
